.text-menor{
    font-size: 15px;
}

.divs-facilidades{
 width: 325px;

}

.botao-lilas {
    background-color: #9353FF;
    border-color: #9353FF;
}

.verde-limao {
    color: #DAFF01;
}
.posicao{
    top: 40%;
}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}
.div-novidades {
    width: 500px;
}